certifi==2022.12.7
chardet==3.0.4
Click==7.0
cplex==12.8.0.1
docloud==1.0.369
docplex==2.9.141
Flask==1.0.2
Flask-Cors==3.0.9
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.22.2
pandas==0.24.2
pprint==0.1
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
six==1.12.0
tqdm==4.31.1
urllib3==1.26.5
Werkzeug==0.15.3
